<p-table [value]="transactions$ | async">
    <ng-template pTemplate="header">
        <tr>
            <th>Дата платежа</th>
            <th>Контрагент</th>
            <th>Сумма</th>
            <th>Тип</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction>
        <tr>
            <td>
                {{ transaction.paymentDate | amDateFormat : "DD.MM.YYYY" }}
            </td>
            <td>{{ transaction.counterparty }}</td>
            <td>{{ transaction.amount | number }}</td>
            <td>
                @switch (transaction.type) {
                    @case (transactionType.Incoming) {Входящий}
                    @case (transactionType.Outcoming) {Исходящий}
                }
            </td>
        </tr>
    </ng-template>
</p-table>
