<section class="container flex justify-content-center">
    @if(client$ | async; as client){
        <p-card
            class="mb-4 block"
            [header]="client.name"
            [subheader]="'ИНН: ' + client.inn"
            styleClass="shadow-2"
        >
            <div class="flex flex-column gap-3 mb-4">
                <div class="flex gap-2 align-items-center">
                    <span>Дата открытия счета:</span>
                    <span>{{ client.openAt | amDateFormat : "DD MMMM YYYY" }}</span>
                </div>
                <div class="flex gap-2 align-items-center">
                    <span>Баланс:</span>
                    <span> {{ client.balance | number }}</span>
                </div>
                <div class="flex gap-2 align-items-center">
                    <span>Телефон:</span>

                    @if(isShowEditPhoneForm) {
                        <app-client-edit-phone-form
                            (closeForm)="togglePhoneForm()"
                        ></app-client-edit-phone-form>
                    }@else {
                        <span>{{ client.phone }}</span>
                        <button
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-pencil"
                            class="client__info-btn p-button-rounded p-button-text"
                            (click)="togglePhoneForm()"
                        ></button>
                    }
                </div>
            </div>

            <app-client-transactions></app-client-transactions>
        </p-card>
    }@else {
        <p-progress-spinner />
    }
</section>
