<form class="flex gap-1" (ngSubmit)="submitForm()" [formGroup]="form">
    <app-phone-input
        class="phone-form__input"
        formControlName="phone"
        name="phone"
        [required]="true"
    >
    </app-phone-input>

    <button
        pButton
        pRipple
        type="submit"
        label="Ок"
        class="p-button-raised p-button-sm"
        [disabled]="!form.dirty || !form.valid"
    ></button>
    <button
        pButton
        pRipple
        type="button"
        label="Отмена"
        class="p-button-raised p-button-secondary p-button-sm"
        (click)="close()"
    ></button>
</form>

<p-confirmDialog rejectButtonStyleClass="p-button-text"></p-confirmDialog>
